# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/

# Ignore the directory where all dependencies are cloned to
ws/

# Generated dependencies file with ssh protocoll and for github actions
dependencies.ssh.txt
dependencies.actions.txt